<div class="students-form-details">
  <form
    action=""
    class="form-container"
    [formGroup]="studentForm"
    #studentFormRef
  >
    <h2>Student Form Details</h2>
    <div class="form-fields">
      <mat-label>First Name</mat-label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter your first name..."
          class="input-field"
          formControlName="firstName"
        />
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-label>Last Name</mat-label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter your last name..."
          class="input-field"
          formControlName="lastName"
        />
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-label>Email Address</mat-label>
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="example@domain.com"
          formControlName="email"
        />
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-label>Phone Number</mat-label>
      <mat-form-field>
        <input
          type="tel"
          matInput
          placeholder="1234567890"
          formControlName="phone"
        />
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-label>Gender</mat-label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="Male">
          <span class="radio-text">Male</span></mat-radio-button
        >
        <mat-radio-button value="Female"
          ><span class="radio-text">Female</span></mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div class="form-fields">
      <mat-label> Branch </mat-label>
      <mat-form-field>
        <input
          type="text"
          placeholder="select or search"
          matInput
          [matAutocomplete]="auto"
          formControlName="branch"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredBranch | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-label>Address</mat-label>
      <textarea name="" id="" rows="3" formControlName="address"></textarea>
    </div>

    <div class="form-fields box">
      <mat-checkbox
        formControlName="termsConditions"
        class="terms-check"
      ></mat-checkbox>
      <span class="term-check">Accept Terms and Conditions</span>
    </div>
    <section>
      <button
        mat-flat-button
        (click)="submitStudentForm()"
        [disabled]="!studentForm.valid"
      >
        {{ isStudentFormEditing ? "Update" : "Submit" }}
      </button>
    </section>
  </form>
</div>
