.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7eaed;
  flex-direction: column;
  padding: 16px;
  gap: 16px;

  .table-container {
    width: 90%;
    padding: 24px;
    background: #e3dada;
    border-radius: 16px;

    .text-heading {
      text-align: center;
    }
  }
}
